.formField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;

    label {
        font-size: 14px;
        font-weight: bold;
        color: #58667E;
    }

    span {
        color: #FF3333;
        font-size: 14px;
    }
}